*.py[cod]
*.png
_version.py

*.egg-info
.eggs/*
__pycache__/*
dist/*

.coverage
.coverage.*
htmlcov/*

doc/build/*
build/*
reports/*

.idea/*
.vscode/

**/.ipynb_checkpoints
*~*

.venv/

.DS_Store
